<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> - <%= projectName %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-fe.css">
    <script src="/themes/main-fe.js" defer></script>
</head>
<body>

<%- include('./partials/header.ejs'); %>

<div class="container">

    <% if (title !== 'Home') { %>

        <div class="site-breadcrumbs margin-bottom-medium">
            <a href="/">Home</a>
            <span class="separator">/</span>
            <span class="current"><%= data.title %></span>
        </div>

    <% } %>

    <div class="site-content">
        <%- content; %>
    </div>

        <%
        // flag
        const hasNotification = !!notification;
        // has message
        const notificationMessage = hasNotification && notification.message;
        %>

        <% if (hasNotification) { %>

            <div data-popup-content="notification"><%= notificationMessage %></div>

            <script defer>
                window.addEventListener('load', () => {
                    // create POPUP
                    Popup.create({
                        target: document.createElement('div'),
                        popupContent: document.querySelector('[data-popup-content="notification"]'),
                        onAfterInit: (self) => {
                            setTimeout(() => {
                                self.open();
                            }, 50);
                        },
                        onAfterClose: (self) => self.destroy()
                    });
                });
            </script>
        <% } %>

</div>

<%- include('./partials/footer.ejs'); %>

</body>
</html>