<div data-custom-title>
    <span><%= title; %></span>
</div>

<% if (data.length === 0) { %>
    <h2>No order</h2>
<% } %>

<div class="orders-list" data-custom-table data-order-wrapper>

    <div class="orders-list__inner" data-edit-order-wrapper>
        <div class="orders-list__heading" data-column-wrapper="heading">
            <div class="orders-list--orderId" data-column="OrderID">Order ID</div>
            <div class="orders-list--customer" data-column="Customer">Customer</div>
            <div class="orders-list--total" data-column="Total">Total</div>
            <div class="orders-list--payment-method" data-column="Payment Method">Payment Method</div>
            <div class="orders-list--date" data-column="Date">Date</div>
            <div class="orders-list--status" data-column="Status">Status</div>
            <div class="orders-list--action" data-column="Action">Action</div>
        </div>

        <% data.forEach(order => { %>

            <div class="orders-list__item" data-column-wrapper="item" data-id="<%= order._id %>" data-order-item>

                <div class="orders__item--orderId" data-column="OrderID" data-order-item-name>
                    #<%= order.orderID; %></div>

                <div class="orders__item--customer" data-column="Customer">
                    <time><%= order.user.name %></time>
                </div>

                <div class="orders__item--total "
                     data-column="Total" data-order-item-total><%= order.totalPrice; %> đ</div>

                <div class="orders-list--payment-method"
                     data-column="Payment Method"><%= order.paymentMethod%>
                </div>

                <div class="orders-list--date"
                     data-column="Date"><%= order.publishFormatted; %></div>

                <div class="orders-list--status <%= order.status === 'success' ? 'active-state' : 'suspend-state' %>"
                     data-column="Status" data-order-item-status><span
                            class="<%= order.status === 'success' ? 'badge badge--green' : 'badge badge--red' %>"><%= order.status; %></span>
                </div>

                <div class="users__item--action fl-center-v" style="gap:.8rem" data-column="Action">

                    <button data-popup="data-order-edit" data-order-edit>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z"/>
                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z"/>
                        </svg>

                    </button>

                    <a href="?post_type=<%= contentType; %>&method=post&action=delete&id=<%= order._id; %>"
                       data-user-remove>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                                  clip-rule="evenodd"/>
                        </svg>

                    </a>
                </div>

            </div>
        <% }); %>

        <!-- pop up content-->
        <form method="post" action="#" data-popup-content="data-order-edit" data-order-form
              data-id="<%= data._id; %>">

            <div data-custom-title>
                <span>Order</span>
                <span data-orderID>#</span>
            </div>

            <div class="form-fields">

                <div class="field vertical-layout">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" data-username
                           required placeholder="Username">
                </div>

                <div class="field vertical-layout">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" data-address
                           required placeholder="Address">
                </div>

                <div class="field vertical-layout">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" data-email
                           required placeholder="Email">
                </div>

                <div class="field vertical-layout">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" data-phone required
                           placeholder="Phone">
                </div>

                <div class="field vertical-layout">
                    <label for="shipping-fee">Shipping fee</label>
                    <input type="text" id="shipping-fee" name="shipping-fee" data-shipping-fee
                           required placeholder="Shipping fee">
                </div>

                <div class="field third vertical-layout">
                    <label for="payment-method">Paid</label>
                    <select data-select-payment-value name="payment-method" id="payment-method">
                        <option value="cod">Cod
                        </option>
                        <option value="momo">Momo
                        </option>
                        <option value="zalopay">ZaloPay
                        </option>
                    </select>
                </div>

                <div class="field third vertical-layout">
                    <label for="paid">Paid</label>
                    <select data-select-paid-value name="paid" id="paid">
                        <option value="paid">Paid
                        </option>
                        <option value="unpaid">Unpaid
                        </option>
                    </select>
                </div>

                <div data-error-message class="fs-italic txt_14px txt_color_error hidden"></div>

                <div class="footer">
                    <button class="btn_primary" type="button" data-account-password-update-btn>Save</button>
                    <button class="btn_transparent" type="button" data-account-close-btn
                            data-popup-toggle>Cancel
                    </button>
                </div>

            </div>
        </form>
    </div>


</div>