<%
const formatPrice = (price) => new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(price);

const deliverState = {
    unconfirmed: "Chưa xác thực",
    confirmed: "Đã xác thực",
    delivering: "Đang vận chuyển",
    delivered: "Đã vận chuyển tới khu vực",
    success: "Giao hàng thành công",
    failed: "Đơn hàng bị hủy",
};
%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %> - <%= projectName; %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-fe.css">
    <script src="/themes/main-fe.js" defer></script>
</head>
<body class="account-page">

<%- include('../partials/header.ejs'); %>

<div class="container">
    <div class="site-title">
        <h1>Quản lí tài khoản</h1>
    </div>

    <div data-tab class="account fl-grid margin-bottom-default">
        <div class="w30 account-triggers">

            <div class="account-trigger-item">
                <button data-trigger="history">Lịch sử đơn hàng</button>
            </div>

            <div class="account-trigger-item">
                <button data-trigger="information">Thông tin tài khoản</button>
            </div>

            <div class="account-trigger-item">
                <button data-trigger="password">Thay đổi mật khẩu</button>
            </div>

            <div class="account-trigger-item">
                <button>Đăng xuất</button>
            </div>
        </div>

        <div class="w70 account-receivers">

            <div data-receiver="history">
                <div class="order-history">

                    <div class="order-history__title boil-content margin-bottom-small">
                        <h2 class="heading-3">Lịch sử đơn hàng</h2>
                    </div>

                    <% if (data.accountData.orders.length > 0) { %>

                        <div class="order-history__orders">
                            <% data.accountData.orders.forEach(order => { %>
                                <div class="order-history__item">

                                    <div class="order-history__id boil-content fl-center-v jc-space-between margin-bottom-small">
                                        <div class="fl-center-v">
                                            <span style="margin-right:4px">Mã đơn hàng:</span>
                                            <h3 class="heading-5"><%= order.orderID; %></h3>
                                        </div>
                                        <div>
                                            <h3 class="heading-5"><%= deliverState[order.status]; %></h3>
                                        </div>
                                    </div>

                                    <div class="order-history__variations margin-bottom-small">
                                        <% order.variations.forEach(v => { %>

                                            <div class="order-history__variation fl-grid">
                                                <div class="order-history__image ar-1 img-wrapper-contain skeleton-bg">
                                                    <img src="<%= v.image.url.small %>"
                                                         alt="<%= v.image.name %>">
                                                </div>

                                                <div class="order-history__product-content">

                                                    <!-- product name -->
                                                    <div class="order-history__product-name boil-content">
                                                        <h4 class="heading-5"><%= v.productName %></h4>
                                                    </div>

                                                    <!-- attributes -->
                                                    <% if (v.selectedAttributes.length) { %>
                                                        <div class="order-history__attributes product-variation fl-grid txt_14px">
                                                            <% v.selectedAttributes.forEach(s => { %>

                                                                <div class="variation">
                                                                    <span class="tt-capitalize"><%= s.name %>: <span
                                                                                class="fw-bold value"><%= s.value %></span></span>
                                                                </div>

                                                            <% }) %>
                                                        </div>
                                                    <% } %>

                                                    <!-- price -->
                                                    <div class="order-history__price">
                                                        <div class="product-item__price fl-center-v jc-space-between">

                                                            <div>
                                                                <% const price = v.salePrice || v.price; %>
                                                                <% if (v.salePrice) { %>
                                                                    <span class="price"><%= formatPrice(v.salePrice); %></span>
                                                                    <span class="price price--with-stroke"><%= formatPrice(v.price); %></span>
                                                                    <span class="sale-amount">-<%= parseInt(100 - (v.salePrice * 100) / v.price); %>%</span>
                                                                <% }  else { %>
                                                                    <span class="price"><%= formatPrice(v.price); %></span>
                                                                <% } %>
                                                            </div>

                                                            <div>
                                                                <span class="separator txt_14px">x</span>
                                                                <span><%= v.quantity %></span>
                                                            </div>
                                                        </div>

                                                        <div class="product-item__total-price d-flex jc-end">
                                                            <span style="font-weight: 600;"><%= formatPrice(price * v.quantity) %></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        <% }) %>
                                    </div>

                                    <!-- order information -->
                                    <div class="order-history__information">
                                        <div class="form-fields">

                                            <div class="field half vertical-layout">
                                                <label for="name">Họ và tên</label>
                                                <input type="text" value="<%= order.fullName %>" id="name" readonly>
                                            </div>

                                            <div class="field half vertical-layout">
                                                <label for="phone">Số điện thoại</label>
                                                <input type="text" value="<%= order.phoneNumber %>" id="phone" readonly>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="address">Địa chỉ</label>
                                                <input type="text" value="<%= order.address %>" id="address" readonly>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="description">Thông tin thêm</label>
                                                <input type="text" value="<%= order.description %>" id="description"
                                                       readonly>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="total-price">Tổng giá trị đơn hàng</label>
                                                <input type="text"
                                                       value="<%= formatPrice(order.totalPrice - order.shippingFee) %>"
                                                       id="total-price" readonly>
                                                <div class="description">Chưa bao gồm phí vận chuyển</div>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="shipping-fee">Phí vận chuyển</label>
                                                <input type="text" value="<%= formatPrice(order.shippingFee) %>"
                                                       id="shipping-fee" readonly>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="total">Tổng tiền</label>
                                                <input type="text" value="<%= formatPrice(order.totalPrice) %>"
                                                       id="total" readonly>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="payment">Phương thức thanh toán</label>
                                                <input type="text" value="<%= order.paymentMethod.toUpperCase() %>"
                                                       id="payment" readonly>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="payment-status">Trạng thái thanh toán</label>
                                                <input type="text"
                                                       value="<%= order.isPaid ? "Đã thanh toán" : "Chưa thanh toán"; %>"
                                                       id="payment-status" readonly>
                                            </div>

                                            <div class="field vertical-layout third">
                                                <label for="deliver-status">Tình trạng đơn hàng</label>
                                                <input type="text"
                                                       value="<%= deliverState[order.status]; %>"
                                                       id="deliver-status" readonly>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            <% }) %>
                        </div>

                    <% } else { %>
                        <!-- no orders -->
                        <div class="order-history__no-order boil-content">
                            <p>
                                Bạn chưa mua đơn hàng nào của chúng tôi. Hãy trang bị cho mình 1 thiết bị mới <a
                                        href="/products">tại đây</a>.
                            </p>
                        </div>

                    <% } %>

                </div>
            </div>

            <div data-receiver="information">
                <div class="boil-content margin-bottom-small">
                    <h2 class="heading-3">Thông tin tài khoản</h2>
                </div>

                <form method="post" action="/<%= adminPath %>/user?method=post&action=edit&id=<%= user._id; %>">

                    <div class="form-fields">

                        <div class="field half vertical-layout">
                            <label for="username">Username</label>
                            <input id="username" data-user-name name="name" value="<%= user.name; %>"
                                   placeholder="Username"
                                   required>
                        </div>

                        <div class="field half vertical-layout">
                            <label for="email">Email</label>
                            <input id="email" data-user-email name="email" value="<%= user.email; %>"
                                   placeholder="Email" readonly>
                        </div>

                        <div class="field third vertical-layout">
                            <!-- register at-->
                            <label for="register-at">Đăng kí vào lúc</label>
                            <input type="text" id="register-at" value="<%= user.registerAtFormatted %>" readonly>
                        </div>

                        <div class="field third vertical-layout">
                            <label for="role">Vai trò</label>
                            <input type="text" class="tt-capitalize" id="role" value="<%= user.role %>" readonly>
                        </div>

                        <div class="field third vertical-layout">
                            <label for="state">Trạng thái tài khoản</label>
                            <input type="text" class="tt-capitalize" id="state" value="<%= user.state %>" readonly>
                        </div>

                        <div class="footer">
                            <button type="submit" class="btn_primary">Save</button>
                        </div>

                    </div>
                </form>
            </div>

            <div data-receiver="password">
                <div class="boil-content margin-bottom-small">
                    <h2 class="heading-3">Thay đổi mật khẩu</h2>
                </div>

                <form method="post" action="#" data-popup-content="change-password-popup" data-account-form
                      data-id="<%= data._id; %>">

                    <div class="form-fields">

                        <div class="field vertical-layout">
                            <label for="current-password">Mật khẩu hiện tại</label>
                            <input type="password" id="current-password" name="current-password" data-current-password
                                   required placeholder="Current Password">
                        </div>

                        <div class="field vertical-layout">
                            <label for="password">Mật khẩu mới</label>
                            <input type="password" id="password" name="password" data-password required
                                   placeholder="Password">
                        </div>

                        <div class="field vertical-layout">
                            <label for="confirm-password">Xác nhận mật khẩu mới</label>
                            <input type="password" id="confirm-password" name="confirm-password" data-confirm-password
                                   required placeholder="Confirm Password">
                        </div>

                        <div data-error-message class="fs-italic txt_14px txt_color_error hidden"></div>

                        <div class="footer">
                            <button class="btn_primary" type="button" data-account-password-update-btn>Save</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<%- include('../partials/footer.ejs'); %>

</body>
</html>