<%
const formatPrice = (price) => new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(price);
%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %> - <%= projectName; %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-fe.css">
    <script src="/themes/main-fe.js" defer></script>
</head>
<body class="cart-page">

<%- include('../partials/header.ejs'); %>

<div class="container">
    <div class="site-breadcrumbs margin-bottom-medium">
        <a href="/">Home</a>
        <span class="separator">/</span>
        <span class="current">Cart</span>
    </div>

    <div class="site-title margin-bottom-medium">
        <h1>Cart</h1>
    </div>

    <form method="post" action="/<%= adminPath %>/orders?method=get&action=add"
          class="cart margin-bottom-default" data-custom-table>

        <div data-column-wrapper="heading">
            <div class="not-show-title" data-column="Select"></div>
            <div data-column="Image">Image</div>
            <div data-column="Name">Name</div>
            <div data-column="Quantity">Quantity</div>
            <div data-column="Price">Price</div>
            <div data-column="Total Price">Total Price</div>
        </div>

        <% if (data.cart.length === 0) { %>
            <h2>No items</h2>
        <% } else { %>

            <% data.cart.forEach(cartItem => { %>
                <div data-column-wrapper="item" data-cart-wrapper data-cart-variation='<%= JSON.stringify(cartItem) %>'>
                    <div data-column="Select">
                        <div class="-checkbox-radio">
                            <input id="<%= cartItem.id %>" type="checkbox" value="<%= cartItem.id %>" name="variation">
                            <label for="<%= cartItem.id %>">
                                <span class="show-tablet-v"><span class="btn_primary">Select Product</span></span>
                            </label>
                        </div>
                    </div>
                    <div data-column="Image">
                        <div class="img-wrapper-contain skeleton-bg">
                            <img src="<%= cartItem.categoryImage.url.small %>" alt="<%= cartItem.categoryImage.name %>">
                        </div>
                    </div>
                    <div data-column="Name">
                        <div>
                            <a style="margin-bottom:1rem;" class="d-block"
                               href="<%= cartItem.url %>"><%= cartItem.name %></a>

                            <div class="product-variation fl-grid txt_14px">
                                <% cartItem.selectedAttributes.forEach(s => { %>
                                    <div class="variation">
                                        <span class="tt-capitalize"><%= s.name %>: <span
                                                    class="fw-bold value"><%= s.value %></span></span>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div data-column="Quantity">
                        <div class="product-quantity quantity w100">
                            <button class="clear-button-style quantity-button decrease" type="button">
                                -
                            </button>
                            <label>
                                <input type="number" min="0" max="<%= cartItem.variationQuantity %>"
                                       value="<%= cartItem.quantity %>" step="1"
                                       data-price="<%= cartItem.salePrice ?? cartItem.price %>"
                                       data-prev-val="1" name="quantity">
                            </label>
                            <button class="clear-button-style quantity-button increase" type="button">+</button>
                        </div>
                    </div>
                    <div data-column="Price">
                        <div class="product-item__price">
                            <% if (cartItem.salePrice) { %>
                                <span class="price"><%= formatPrice(cartItem.salePrice); %></span>
                                <span class="price price--with-stroke"><%= formatPrice(cartItem.price); %></span>
                                <span class="sale-amount">-<%= parseInt(100 - (cartItem.salePrice * 100) / cartItem.price); %>%</span>
                            <% }  else { %>
                                <span class="price"><%= formatPrice(cartItem.price); %></span>
                            <% } %>
                        </div>
                    </div>

                    <div data-column="Total Price">
                        <%
                            const price = cartItem.salePrice ?? cartItem.price;
                            const totalPrice = price * cartItem.quantity;
                        %>
                        <div class="product-item__price">
                            <span class="price" data-cart-total-price><%= formatPrice(totalPrice) %></span>
                        </div>
                    </div>

                </div>
            <% }) %>

            <div class="ta-right" style="padding-top:2rem;">
                <button disabled class="submit-btn btn_primary">Proceed to checkout</button>
            </div>

        <% } %>
    </form>
</div>

<%- include('../partials/footer.ejs'); %>

</body>
</html>