<%
const formatPrice = (price) => new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(price);
%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %> - <%= projectName; %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-fe.css">
    <script src="/themes/main-fe.js" defer></script>
</head>
<body class="order-page">

<%- include('../partials/header.ejs'); %>

<div class="container">

    <div class="boil-content margin-bottom-default">
        <h1>New Order</h1>
    </div>

    <form method="post" action="/<%= adminPath %>/orders?method=post&action=add" data-order-form
          class="order fl-grid ai-start margin-bottom-default">
        <div class="order__form">

            <div class="form-fields">

                <div class="field half vertical-layout">
                    <label for="name">Full name</label>
                    <input type="text" id="name" name="name" data-form-name>
                    <div class="description">You have to input the name here!</div>
                </div>

                <div class="field half vertical-layout">
                    <label for="phone-number">Phone number</label>
                    <input type="text" id="phone-number" name="phoneNumber" data-form-phone-number>
                    <div class="description">The phone number must be equal to 10 numbers</div>
                </div>

                <div class="field vertical-layout third">
                    <label for="province">Province</label>
                    <select data-province-select name="province" id="province">
                        <option value="ho-chi-minh">Ho Chi Minh</option>
                    </select>
                </div>

                <div class="field vertical-layout third">
                    <label for="district">District</label>
                    <select data-district-select name="district" id="district">
                        <option value="thu-duc">Thu Duc</option>
                    </select>
                </div>

                <div class="field vertical-layout third">
                    <label for="ward">Wards</label>
                    <select data-ward-select name="ward" id="ward">
                        <option value="long-thanh-my">Long Thanh My</option>
                    </select>
                </div>

                <div class="hidden">
                    <label>
                        <input type="text" value="" name="pretty-address" data-pretty-address readonly>
                    </label>
                </div>

                <div class="field vertical-layout">
                    <label for="name">Specific Address</label>
                    <input type="text" id="address" name="address">
                    <div class="description">This field is optional</div>
                </div>

                <div class="field vertical-layout">
                    <label for="description">Description</label>
                    <textarea id="description" name="description"></textarea>
                    <div class="description">This field is optional!</div>
                </div>

                <div class="field vertical-layout">
                    <label for="payment">Payment method</label>

                    <div>
                        <div class="-checkbox-radio">
                            <input type="radio" name="payment" value="cod" id="cod" checked>
                            <label for="cod">Cash on Delivering</label>
                        </div>
                    </div>

                    <div>
                        <div class="-checkbox-radio">
                            <input type="radio" name="payment" value="momo" id="momo">
                            <label for="momo">Momo</label>
                        </div>
                    </div>

                    <div>
                        <div class="-checkbox-radio">
                            <input type="radio" name="payment" value="momo" id="zalopay">
                            <label for="zalopay">Zalo Pay</label>
                        </div>
                    </div>

                    <div>
                        <div class="-checkbox-radio">
                            <input type="radio" name="payment" value="momo" id="vnpay">
                            <label for="vnpay">VN Pay</label>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="order__products">

            <div class="order__detail-title boil-content">
                <h3>Your Order</h3>
            </div>

            <div class="order__detail-products">
                <% data.orderData.forEach(data => { %>
                    <div class="order__detail-product-item" data-product='<%= JSON.stringify(data); %>'>
                        <div class="hidden">
                            <label>
                                <input type="text" value="<%= data.variationId; %>" name="variations">
                            </label>
                        </div>

                        <div class="order__detail-product-item-inner fl-grid order-item">
                            <div class="order-item__image img-wrapper-contain">
                                <img src="<%= data.categoryImage.url.small; %>" alt="<%= data.categoryImage.name; %>">
                            </div>

                            <div class="order-item__content">
                                <div class="order-item__product-name boil-content">
                                    <h4><%= data.name; %></h4>
                                </div>

                                <div class="order-item__attributes fl-grid product-variation">
                                    <% data.selectedAttributes.forEach(s => { %>
                                        <div class="variation">
                                        <span class="key tt-capitalize"><%= s.name %>: <span
                                                    class="fw-bold value"><%= s.value %></span></span>
                                        </div>
                                    <% }) %>
                                </div>

                                <div class="fl-center-v jc-space-between">
                                    <div class="order-item__price">
                                        <% const price = data.salePrice ?? data.price; %>
                                        <span><%= formatPrice(price); %><span
                                                    class="separator">x</span><span
                                                    class="price-quantity"><%= data.quantity; %></span></span>
                                    </div>

                                    <div class="order-item__total-price ta-right">
                                        <span><%= formatPrice(price * data.quantity); %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div class="order__detail-addition">

                <div class="order__shipping-fee fl-center-v jc-space-between txt_14px">
                    <div class="fw-bold">Delivery</div>
                    <div data-deliver-fee><%= formatPrice(0) %></div>
                </div>

                <div class="order__discount fl-center-v jc-space-between txt_14px">
                    <div class="fw-bold">Coupon</div>
                    <div class="w50">
                        <label>
                            <input type="text" placeholder="Coupon Code" data-coupon-code name="coupon-code" value="">
                        </label>
                    </div>
                </div>

            </div>

            <div class="order__detail-total fl-center-v jc-space-between txt_14px">
                <% const totalPrice = data.orderData.reduce((acc, cur) => {
                    const price = cur.salePrice ?? cur.price;
                    return price * parseInt(cur.quantity) + acc;
                }, 0)
                %>
                <div class="fw-bold">Total</div>
                <div data-total-price style="font-weight: 600;"><%= formatPrice(totalPrice) %></div>
            </div>

            <div class="order__button">
                <button class="btn_primary w100" data-order-button>Proceed to Order</button>
            </div>


        </div>
    </form>
</div>

<%- include('../partials/footer.ejs'); %>

</body>
</html>