<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %> - <%= projectName; %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-fe.css">
    <script src="/themes/main-fe.js" defer></script>
</head>
<body class="products">

<%- include('../partials/header.ejs'); %>

<div class="container-large">
    <div class="site-title">
        <h1>All Products</h1>
    </div>

    <div class="category margin-bottom-default">
        <%
        const categories = [
            {
                name: 'All',
                url: '/products',
                active: true
            },
            {
                name: 'Headphones',
                url: '/products'
            },
            {
                name: 'Earphones',
                url: '/products'
            },
            {
                name: 'Airpods',
                url: '/products'
            }
        ]

        categories.forEach(category => { %>

            <a class="category__item <%= category.active ? 'active' : ''; %>"
               href="<%= category.url; %>"><%= category.name; %></a>

        <% }) %>
    </div>
    <% console.log(data); %>

    <div class="product-list flex-grid-template margin-bottom-default">
        <% if (data.products.length === 0) { %>
            <h1>No products</h1>
        <% } else { %>

            <% data.products.forEach(product => { %>

                    <a href="<%= product.url; %>" class="product-item d-block td-none">

                    <div class="product-item__inner fd-column d-flex">
                        <div class="product-item__image img-wrapper-cover skeleton-bg">
                            <img src="<%= product.categoryImage.url.original ;%>"
                                 alt="<%= product.categoryImage.name ;%>">
                        </div>

                        <div class="product-item__bottom">

                            <% if (product.attributes) { %>
                                <div class="product-item__variations">

                                    <% product.attributes.forEach(attribute => { %>
                                        <div class="product-item__variation fl-grid ai-center">
                                            <% attribute.values.forEach(v => { %>
                                                <% const isCurrentVariation = product.selectedAttributes.find(s => s.name === attribute.name && s.value === v.name); %>

                                                <span class="<%= isCurrentVariation ? 'active' : '' ;%>"><%= v.prettyName ;%></span>

                                            <% }); %>
                                        </div>
                                    <% }); %>

                                </div>
                            <% } %>

                            <h2 class="product-item__title"><%= product.name ;%></h2>
                            <div class="product-item__description"><%= product.description ;%></div>
                            <div class="product-item__price">

                                <% if (product.salePrice) { %>
                                    <span class="price"><%= product.salePrice; %>$</span>
                                    <span class="price price--with-stroke"><%= product.price ;%>$</span>
                                    <span class="sale-amount">-<%= parseInt(100 - (product.salePrice * 100) / product.price) ;%>%</span>
                                <% }  else { %>
                                    <span class="price"><%= product.price ;%>$</span>
                                <% } %>
                            </div>

                            <% if (product.addition) { %>
                                <div class="product-item__addition"><%= product.addition ;%></div>
                            <% } %>
                        </div>
                    </div>

                </a>

            <% }) %>
        <% } %>

    </div>
</div>

<%- include('../partials/footer.ejs'); %>

</body>
</html>