<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// validate selected value on select
const isSelectedValue = (name, value) => {
    if(!isEditPost) return null;
    return data[name] === value ? 'selected' : null;
};

// get value from data
const getValueFromData = (name, property = '') => {
    if(!isEditPost) return '';
    return property ? data[name][property] : data[name];
};
%>

<div data-custom-title>
    <span>Add new product</span>
</div>

<div class="container" data-product-detail data-product-wrapper>
    <form action="?post_type=product&method=post&action=<%= actionType %>"
          method="post"
          class="detail-product">
        <h1><%= actionType %></h1>

        <!-- Product detail -->
        <div class="fl-grid">

            <!-- left-content -->
            <div class="w70" style="padding-right:20px">

                <!-- product common data -->
                <div class="margin-bottom-default">

                    <!-- name -->
                    <div>
                        <label for="name" class="hidden">Name</label>
                        <input type="text" placeholder="Name" id="name" name="name" data-product-name
                               class="w100" value="<%= getValueFromData('name') %>">
                    </div>

                    <!-- description-->
                    <div>
                        <label for="description" class="hidden">Description</label>
                        <textarea type="text" placeholder="Description" id="description" name="description"
                                  data-product-description
                                  class="w100"><%= getValueFromData('description') %></textarea>
                    </div>

                    <!-- product type -->
                    <div class="fl-center-v">
                        <label for="types">Product type</label>
                        <select data-easy-select name="types" id="types" data-product-types>
                            <option <%= isSelectedValue('type', 'simple'); %> value="simple">Simple Product
                            </option>
                            <option <%= isSelectedValue('type', 'variable'); %> value="variable">Variable Product
                            </option>
                        </select>
                    </div>

                </div>

                <div class="fl-grid">

                    <!-- Simple Product -->
                    <div data-simple-product class="w50">

                        <h3>Simple Product</h3>

                        <!-- json-->
                        <div>
                            <label for="simple-product-json">JSON for simple</label>
                            <textarea data-simple-product-json id="simple-product-json"
                                      name="simpleProductJSON"></textarea>
                        </div>

                    </div>

                    <!-- Variable Product -->
                    <div data-variable-product class="w100">

                        <h3>Variable Product</h3>

                        <div data-tab class="fl-grid">

                            <div data-tab-triggers class="w30">

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="general" type="button">
                                        General
                                    </button>
                                </div>

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="attributes" type="button">
                                        Attributes
                                    </button>
                                </div>

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="variations" type="button">
                                        Variations
                                    </button>
                                </div>

                            </div>

                            <div data-tab-receivers class="w70">

                                <div data-receiver="general">

                                    <div data-product-general>
                                        <div class="form-fields">

                                            <div class="field vertical-layout">
                                                <label for="inventory">Inventory</label>
                                                <input type="text" id="inventory" placeholder="Inventory"
                                                       data-product-inventory>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="price">Price</label>
                                                <input type="text" id="price" placeholder="Price" data-product-price>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="sale-price">Sale Price</label>
                                                <input type="text" id="sale-price" placeholder="Sale Price"
                                                       data-product-sale-price>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div data-receiver="attributes">

                                    <div class="margin-bottom-small">
                                        <div data-custom-title>
                                            <span>Add new attribute</span>
                                        </div>

                                        <div class="form-fields" data-product-attribute-add>
                                            <div class="field half vertical-layout">
                                                <label for="name" class="hidden">Name</label>
                                                <input type="text" placeholder="Name" id="name" name="name"
                                                       data-attribute-name>
                                                <div class="description error">Please add the name here!</div>
                                            </div>
                                            <div class="field half vertical-layout">
                                                <label for="values" class="hidden">Values</label>
                                                <input type="text" placeholder="Values" id="values" name="values"
                                                       data-attribute-values>
                                                <div class="description error">Please add the values here!</div>
                                            </div>
                                            <div class="field jc-end">
                                                <button class="btn_primary" type="button"
                                                        data-product-attribute-add-btn>Add new
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-product-attributes-list>

                                        <div data-custom-title>
                                            <span>Available Attributes</span>
                                        </div>

                                        <div data-product-attributes></div>

                                    </div>

                                </div>

                                <div data-receiver="variations">

                                    <div>

                                        <div data-product-variation-button class="margin-bottom-small">
                                            <button class="btn_primary" type="button" data-product-variation-add-btn>Add
                                                manually
                                            </button>
                                        </div>

                                        <div data-product-variations>
                                            <div data-product-varition-item>
                                                <div data-trigger-wrapper class="d-flex jc-space-between">

                                                    <div>
                                                        <span>Name: color</span>
                                                    </div>

                                                    <div class="d-flex">
                                                        <button class="btn_primary" data-variation-trigger="item"
                                                                type="button">
                                                            Expand
                                                        </button>
                                                        <button class="btn_primary error" type="button">Remove</button>
                                                    </div>
                                                </div>

                                                <div data-variation-receiver="item">
                                                    <div>
                                                        <!-- loop qua attribute -->
                                                        <select name="" id="">
                                                            <option value="">red</option>
                                                            <option value="">green</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-fields">

                                                        <div class="field half">
                                                            <button>Image</button>
                                                        </div>

                                                        <div class="field half vertical-layout">
                                                            <label for="sku">SKU</label>
                                                            <input type="text" placeholder="SKU" name="skud">
                                                        </div>

                                                        <div class="field half vertical-layout">
                                                            <label for="">Price</label>
                                                            <input type="text" placeholder="Price" name="price">
                                                        </div>

                                                        <div class="field half vertical-layout">
                                                            <label for="">Sale Price</label>
                                                            <input type="text" placeholder="Sale Price"
                                                                   name="sale-price">
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- variable product json -->
                        <div>
                            <label for="content">JSON for variable</label>
                            <textarea data-variable-product-json id="content" name="variableJSON"></textarea>
                        </div>

                    </div>

                </div>
            </div>

            <!-- right content -->
            <div class="w30">
                <div class="fl-center-v">
                    <label for="visibility">Visibility</label>
                    <select data-easy-select name="visibility" id="visibility" data-product-visibility>
                        <option <%= isSelectedValue('visibility', 'public'); %> value="public">Public
                        </option>
                        <option <%= isSelectedValue('visibility', 'private'); %> value="private">Private
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn_primary" data-product-publish>Publish</button>
            </div>
        </div>

    </form>
</div>