<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// validate selected value on select
const isSelectedValue = (name, value) => {
    if(!isEditPost) return null;
    return data[name] === value ? 'selected' : null;
};

// get value from data
const getValueFromData = (name, property = '') => {
    if(!isEditPost) return '';
    return property ? data[name][property] : data[name];
};

// get key value from object data
const getKeyValueOb = (obj, index, key = 'key') => {
    if(!isEditPost) return '';
    return key === 'key' ? Object.keys(obj)[index] : Object.values(obj)[index]
}
%>

<div data-custom-title>
    <span>Add new product</span>
</div>

<div class="container" data-product-detail data-product-wrapper>
    <form action="?post_type=product&method=post&action=<%= actionType %>"
          method="post"
          class="detail-product">
        <h1><%= actionType %></h1>

        <!-- Product detail -->
        <div class="fl-grid">

            <!-- left-content -->
            <div class="w70" style="padding-right:20px">

                <!-- product common data -->
                <div class="margin-bottom-default">

                    <!-- name -->
                    <div>
                        <label for="name" class="hidden">Name</label>
                        <input type="text" placeholder="Name" id="name" name="name" required data-product-name
                               class="w100" value="<%= getValueFromData('name') %>">
                    </div>

                    <!-- description-->
                    <div>
                        <label for="description" class="hidden">Description</label>
                        <textarea type="text" placeholder="Description" id="description" name="description" required
                                  data-product-description
                                  class="w100"><%= getValueFromData('description') %></textarea>
                    </div>

                    <!-- product type -->
                    <div class="fl-center-v">
                        <label for="types">Product type</label>
                        <select data-easy-select name="types" id="types" data-product-types>
                            <option <%= isSelectedValue('type', 'simple'); %> value="simple">Simple Product
                            </option>
                            <option <%= isSelectedValue('type', 'variable'); %> value="variable">Variable Product
                            </option>
                        </select>
                    </div>

                </div>

                <div class="fl-grid">

                    <!-- Simple Product -->
                    <div data-simple-product class="w50">

                        <h3>Simple Product</h3>

                        <!-- json-->
                        <div>
                            <label for="simple-product-json">JSON for simple</label>
                            <textarea data-simple-product-json id="simple-product-json"
                                      name="simpleProductJSON"></textarea>
                        </div>

                    </div>

                    <!-- Variable Product -->
                    <div data-variable-product class="w50">

                        <h3>Variable Product</h3>

                        <!-- variable product json -->
                        <div>
                            <label for="content">JSON for variable</label>
                            <textarea data-variable-product-json id="content" name="variableJSON"></textarea>
                        </div>

                    </div>

                </div>
            </div>

            <!-- right content -->
            <div class="w30">
                <div class="fl-center-v">
                    <label for="visibility">Visibility</label>
                    <select data-easy-select name="visibility" id="visibility" data-product-visibility>
                        <option <%= isSelectedValue('visibility', 'public'); %> value="public">Public
                        </option>
                        <option <%= isSelectedValue('visibility', 'private'); %> value="private">Private
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn_primary" data-product-publish>Publish</button>
            </div>
        </div>

    </form>
</div>