<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// view URL
const viewURL = isEditPost ? contentType + '/' + data.url : '';

// validate selected value on select
const isSelectedValue = (name, value, subName) => {
    if(!isEditPost) return null;
    return data[name] === value || data[name][subName] === value ? 'selected' : null;
};

// get value from data
const getValueFromData = (name, property = '') => {
    if(!isEditPost) return '';
    return property ? data[name][property] : data[name];
};
%>

<div data-custom-title>
    <span><%= isEditPost ? "Edit Product" : "Add New Product"; %></span>
</div>

<div class="container" data-product-detail data-product-wrapper>
    <form action="?post_type=<%= contentType; %>&method=post&action=<%= actionType; %><%= isEditPost ? '&id=' + data._id : ''; %>"
          method="post"
          class="detail-product">

        <!-- Product detail -->
        <div class="product-detail fl-grid">

            <!-- left-content -->
            <div class="product-detail__left w100">

                <!-- product common data -->
                <div class="margin-bottom-small">

                    <div class="form-fields">

                        <% if (isEditPost) { %>
                            <div class="field half vertical-layout">
                                <label for="permalink">Custom URL:</label>
                                <input type="text" placeholder="Custom URL" id="permalink" name="url"
                                       value="<%= getValueFromData('url') %>">
                            </div>

                            <div class="field half" style="align-items:flex-end;">
                                <a href="/<%= viewURL; %>" target="_blank" class="btn_primary txt_14px">View page</a>
                            </div>
                        <% } %>

                        <!-- name -->
                        <div class="field vertical-layout">
                            <label for="name">Name</label>
                            <input type="text" placeholder="Name" id="name" name="name" data-product-name required
                                   value="<%= getValueFromData('name'); %>">
                        </div>

                        <!-- description -->
                        <div class="field vertical-layout">
                            <label for="description">Description</label>
                            <textarea type="text" placeholder="Description" id="description" name="description"
                                      data-product-description required
                                      class="w100"><%= getValueFromData('description'); %></textarea>
                        </div>

                        <div class="field vertical-layout">
                            <label for="type">Product type</label>
                            <select data-product-types-select name="type" id="type" data-product-types>
                                <option <%= isSelectedValue('type', 'simple'); %> value="simple">Simple Product
                                </option>
                                <option <%= isSelectedValue('type', 'variable'); %> value="variable">Variable Product
                                </option>
                            </select>
                        </div>

                    </div>
                </div>

                <div>

                    <!-- Simple Product -->
                    <div data-simple-product>

                        <div class="form-fields margin-bottom-small">

                            <div class="field vertical-layout">
                                <label for="inventory">Inventory</label>
                                <input type="number" min="0" id="inventory" placeholder="Inventory"
                                       data-product-inventory required>
                                <div class="description error">Please input the inventory</div>
                            </div>

                            <div class="field vertical-layout">
                                <label for="price">Price</label>
                                <input type="number" min="0" id="price" placeholder="Price" data-product-price required>
                                <div class="description error">Please input the price</div>
                            </div>

                            <div class="field vertical-layout">
                                <label for="sale-price">Sale Price</label>
                                <input type="number" min="0" id="sale-price" placeholder="Sale Price"
                                       data-product-sale-price>
                            </div>

                            <div class="field vertical-layout" data-variation-images="[]">
                                <label for="images">Images</label>
                                <div data-preview-media class="fl-grid"></div>
                                <input type="button" class="btn_primary" value="Select Images" data-variation-image-add
                                       data-popup="variation-images">
                                <div class="description error">Please input the images</div>

                            </div>

                        </div>

                        <!-- json-->
                        <div>
                            <label for="simple-product-json" class="hidden">JSON for simple</label>
                            <textarea data-simple-product-json id="simple-product-json"
                                      name="simpleProductJSON" class="w100" placeholder="JSON"
                                      readonly><%= getValueFromData('simpleProductJSON') %></textarea>
                        </div>

                    </div>

                    <!-- Variable Product -->
                    <div data-variable-product>

                        <div data-tab class="fl-grid margin-bottom-small">

                            <div data-tab-triggers class="w30">

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="general" type="button">
                                        General
                                    </button>
                                </div>

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="attributes" type="button">
                                        Attributes
                                    </button>
                                </div>

                                <div data-trigger-wrapper>
                                    <button class="clear-button-style" data-trigger="variations" type="button">
                                        Variations
                                    </button>
                                </div>

                            </div>

                            <div data-tab-receivers class="w70">

                                <div data-receiver="general">

                                    <div data-product-general>
                                        <div class="form-fields">

                                            <div class="field vertical-layout">
                                                <label for="inventory">Inventory</label>
                                                <input type="text" id="inventory" placeholder="Inventory"
                                                       data-product-inventory readonly>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="price">Price</label>
                                                <input type="text" id="price" placeholder="Price" data-product-price
                                                       readonly>
                                            </div>

                                            <div class="field vertical-layout">
                                                <label for="sale-price">Sale Price</label>
                                                <input type="text" id="sale-price" placeholder="Sale Price"
                                                       data-product-sale-price readonly>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div data-receiver="attributes">

                                    <div class="margin-bottom-small">
                                        <div data-custom-title>
                                            <span>Add new attribute</span>
                                        </div>

                                        <div class="form-fields" data-product-attribute-add>
                                            <div class="field half vertical-layout">
                                                <label for="name" class="hidden">Name</label>
                                                <input type="text" placeholder="Name" id="name" data-attribute-name>
                                                <div class="description error">Please add the name here!</div>
                                            </div>
                                            <div class="field half vertical-layout">
                                                <label for="values" class="hidden">Values</label>
                                                <input type="text" placeholder="Values" id="values" name="values"
                                                       data-attribute-values>
                                                <div class="description error">Please add the values here!</div>
                                            </div>
                                            <div class="field jc-end">
                                                <button class="btn_primary" type="button"
                                                        data-product-attribute-add-btn>Add new
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-product-attributes-list>

                                        <div data-custom-title>
                                            <span>Available Attributes</span>
                                        </div>

                                        <div data-product-attributes></div>

                                    </div>

                                </div>

                                <div data-receiver="variations">

                                    <div>

                                        <div data-product-variation-add class="margin-bottom-small">

                                            <div class="form-fields">
                                                <div class="field vertical-layout">
                                                    <button class="btn_primary" type="button"
                                                            data-product-variation-add-btn>Add
                                                        manually
                                                    </button>
                                                    <div class="description error">The attributes don't have any
                                                        values.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div data-product-variations>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- variable product json -->
                        <div>
                            <label for="content" class="hidden">JSON for variable</label>
                            <textarea data-variable-product-json id="content" name="variableProductJSON" class="w100"
                                      placeholder="JSON"
                                      readonly><%= getValueFromData('variableProductJSON') %></textarea>
                        </div>

                    </div>

                </div>
            </div>

            <!-- right content -->
            <div class="product-detail__right w100">

                <div class="form-fields">
                    <div class="field vertical-layout">
                        <label for="visibility">Visibility</label>
                        <select data-easy-select name="visibility" id="visibility" data-product-visibility>
                            <option <%= isSelectedValue('visibility', 'public'); %> value="public">Public
                            </option>
                            <option <%= isSelectedValue('visibility', 'private'); %> value="private">Private
                            </option>
                        </select>
                    </div>

                    <div class="field vertical-layout" data-product-category-image-wrapper data-variation-images="[]">
                        <label for="images">Product Category Image</label>
                        <div data-preview-media class="fl-grid"></div>
                        <input type="text" readonly value="<%= getValueFromData('categoryImage'); %>"
                               data-product-category-image name="product-category-image"
                               style="display:none;">
                        <input type="button" class="btn_transparent ar-1" style="min-width:unset" value="+"
                               data-category-image
                               data-popup="category-image">
                        <div class="description error">Please input the images</div>
                    </div>

                    <div class="fl-center-v">
                        <label for="categories">Categories</label>
                        <input type="text" id="categories" name="categories" placeholder="Categories" value="<%= getValueFromData('categories', 'prettyName')%>">
                    </div>

                    <% if(allCategories.length > 0) { %>
                        <div class="posts-detail__dropdown fl-center-v">
                            <label for="category-dropdown">Categories</label>
                            <select data-easy-select name="availableCategories" id="category-dropdown">
                                <option value="" selected hidden="">Choose here</option>
                                <% allCategories.forEach(category => { %>
                                    <option <%= isSelectedValue('categories', category.prettyName , 'prettyName')%>><%=category.prettyName%></option>
                                <% }) %>
                            </select>
                        </div>
                    <% }%>



                    <div class="field">
                        <button type="submit" class="btn_primary" data-product-publish>Publish</button>
                    </div>
                </div>

            </div>
        </div>

    </form>

    <!-- product category image form -->
    <div data-pb-media-popup data-popup-content="category-image">
        <div class="media-popup fl-grid">

            <!-- media list -->
            <div class="media-popup__col media-popup__col--left">
                <div data-custom-title>
                    <span>Media List</span>
                </div>

                <div data-media-list class="fl-grid"></div>

                <button type="button" class="btn_primary" data-save-media data-popup-toggle>
                    Save
                </button>
            </div>

            <!-- upload new media -->
            <div class="media-popup__col media-popup__col--right">
                <form data-media-form method="post" action="?post_type=media&method=post&action=add"
                      enctype="multipart/form-data">

                    <div data-custom-title>
                        <span>Upload Media</span>
                    </div>

                    <div class="form-fields">
                        <div class="field vertical-layout">
                            <label for="name">Name:</label>
                            <input id="name" type="text" placeholder="Name"
                                   data-media-name>
                            <div class="description">Optional, we can get the name of the
                                media.
                            </div>
                        </div>

                        <div class="field vertical-layout">
                            <label for="image">Upload Image:</label>
                            <input type="file" name="image" accept="image/*" id="image"
                                   required data-add-media>
                        </div>

                        <div class="footer">
                            <button class="btn_transparent" type="submit"
                                    data-add-media-button>Add New
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- simple product image form -->
    <div data-pb-media-popup data-popup-content="variation-images">
        <div class="media-popup fl-grid">

            <!-- media list -->
            <div class="media-popup__col media-popup__col--left">
                <div data-custom-title>
                    <span>Media List</span>
                </div>

                <div data-media-list class="fl-grid"></div>

                <button type="button" class="btn_primary" data-save-media data-popup-toggle>
                    Save
                </button>
            </div>

            <!-- upload new media -->
            <div class="media-popup__col media-popup__col--right">
                <form data-media-form method="post" action="?post_type=media&method=post&action=add"
                      enctype="multipart/form-data">

                    <div data-custom-title>
                        <span>Upload Media</span>
                    </div>

                    <div class="form-fields">
                        <div class="field vertical-layout">
                            <label for="name">Name:</label>
                            <input id="name" type="text" placeholder="Name"
                                   data-media-name>
                            <div class="description">Optional, we can get the name of the
                                media.
                            </div>
                        </div>

                        <div class="field vertical-layout">
                            <label for="image">Upload Image:</label>
                            <input type="file" name="image" accept="image/*" id="image"
                                   required data-add-media>
                        </div>

                        <div class="footer">
                            <button class="btn_transparent" type="submit"
                                    data-add-media-button>Add New
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>