<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// validate selected value on select
const isSelectedValue = (name, value) => {
    if (!isEditPost) return null;
    return data[name] === value ? 'selected' : null;
};

// get value from data
const getValueFromData = (name, property = '') => {
    if (!isEditPost) return '';
    return property ? data[name][property] : data[name];
};

// get key value from object data
const getKeyValueOb = (obj, index, key = 'key') => {
    if (!isEditPost) return '';
    return key === 'key' ? Object.keys(obj)[index] : Object.values(obj)[index]
}
%>

<div data-custom-title>
    <span>Add new product</span>
</div>

<div class="container" data-product-detail data-product-wrapper>
    <form action="?post_type=product&method=post&action=<%= actionType %>"
          method="post"
          class="detail-product">
        <h1><%= actionType %></h1>

        <!-- Product detail -->
        <div class="fl-grid">
            <div>
                <div>
                    <!-- product name -->
                    <div>
                        <label for="name" class="hidden"></label>
                        <input type="text" placeholder="Name" id="name" name="name" required data-product-name
                               class="w100" value="<%= getValueFromData('name') %>">
                    </div>

                    <!-- product description-->
                    <div>
                        <label for="description" class="hidden">Product Description</label>
                        <textarea type="text" placeholder="Description" id="description" name="description" required
                                  data-product-description
                                  class="w100"><%= getValueFromData('description') %></textarea>
                    </div>
                </div>

                <!-- product type -->
                <div class="fl-center-v">
                    <label for="product-type">Product type</label>
                    <select data-easy-select name="productType" id="product-type" data-productType-value>
                        <option <%= isSelectedValue('productType', 'simple'); %> value="simple">Simple Product
                        </option>
                        <option <%= isSelectedValue('productType', 'variable'); %> value="variable">Variable Product
                        </option>
                    </select>
                </div>

                <div style="display: flex; gap: 8px">

                    <!-- Simple product detail-->
                    <div data-simple-product-wrapper style="width: 50%;">
                        <!-- inventory -->
                        <div>
                            <label for="inventory">Inventory</label>
                            <input type="text" placeholder="Inventory" id="inventory" name="inventory"
                                   data-simple-product-inventory
                                   class="w100" value="<%= getValueFromData('inventory') %>">
                        </div>

                        <!-- price-->
                        <div>
                            <label for="price">Price ($)</label>
                            <input type="text" placeholder="Price" id="price" name="price" data-simple-product-price
                                   class="w100" value="<%= getValueFromData('price') %>">
                        </div>

                        <!-- sale price-->

                        <div>
                            <label for="sale-price">Sale Price ($)</label>
                            <input type="text" placeholder="Sale price" id="sale-price" name="salePrice"
                                   data-simple-product-sale-price
                                   class="w100" value="<%= getValueFromData('salePrice') %>">
                        </div>

                        <!-- simple product json-->
                        <div>
                            <label for="content">JSON for simple</label>
                            <textarea data-simple-product-json id="content"></textarea>
                        </div>

                    </div>

                    <!-- Variable product detail -->
                    <div data-variable-product-wrapper style="width: 50%;">
                        <div data-variable-product>
                            <div>
                                <button type="button" data-add-new-attribute>Add new</button>
                            </div>

                            <!-- inventory -->
                            <div>
                                <label for="inventory">Inventory</label>
                                <input type="text" placeholder="Inventory" id="inventory" name="inventory"
                                       data-variable-product-inventory
                                       class="w100" value="<%= getValueFromData('inventory') %>">
                            </div>

                            <!-- Attribute detail for variable product -->
                            <div data-attribute-number="0">
                                <div data-taxonomy>
                                    <div>
                                        <div data-attribute-name>New attribute</div>
                                        <button type="button" data-delete-attribute>Remove</button>
                                    </div>

                                    <div data-attribute-details>
                                        <!-- attribute name -->
                                        <div data-attribute-product-name>
                                            <label for="attribute-name">Name</label>
                                            <input type="text" placeholder="Attribute name" id="attribute-name"
                                                   data-variable-product-description
                                                   name="attributeName[0]"
                                                   class="w100">
                                        </div>

                                        <!-- attribute value -->
                                        <div data-attribute-product-value>
                                            <label for="attribute-value">Values</label>
                                            <textarea type="text"
                                                      placeholder="Enter some descriptive text. Use “|” to separate different values."
                                                      id="attribute-value" name="attributeValue[0]"
                                                      class="w100"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Save attribute button -->
                        <div>
                            <button type="button" data-save-attribute>Save</button>
                        </div>

                        <!-- Variations for variable product -->
                        <div data-variation-product>

                            <div>
                                <button type="button" data-add-new-variation>Add manually</button>
                            </div>

                        </div>

                        <!-- variable product json -->
                        <div>
                            <label for="content">JSON for variable</label>
                            <textarea data-variable-product-json id="content"></textarea>
                        </div>

                    </div>

                </div>

            </div>

            <div>
                <div class="fl-center-v">
                    <label for="visibility">Visibility</label>
                    <select data-easy-select name="visibility" id="visibility" data-product-visibility>
                        <option <%= isSelectedValue('visibility', 'public'); %> value="public">Public
                        </option>
                        <option <%= isSelectedValue('visibility', 'private'); %> value="private">Private
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn_primary" data-product-publish>Publish</button>
            </div>
        </div>

    </form>
</div>