<%
const menuItems = [
    {
        name: 'Home',
        url: '/',
        menu: []
    },
    {
        name: 'About Us',
        url: '/about-us/',
        menu: []
    },
    {
        name: 'Products',
        url: '/products/',
        menu: []
    },
    {
        name: 'Contact',
        url: '/contact/',
        menu: []
    }
];
%>

<header class="header ps-fixed t0 l0 w100 z99999999 fl-center-v">

    <div class="fl-center-v jc-space-between w100">

        <div class="header__col left fl-center-v">
            <!-- logo -->
            <a class="d-block header__logo img-wrapper-contain" href="/">
                <img src="/themes/default.png" alt="logo image">
            </a>

            <!-- menu -->
            <div class="header__pages">
                <div class="hidden-tablet-h">
                    <ul class="menu">
                        <% menuItems.forEach(item => { %>
                            <% const hasChildrenMenu = item.menu.length > 0; %>
                            <li class="menu-item <%= hasChildrenMenu ? 'has-children' : ''; %>">
                                <a href="<%= item.url %>"><%= item.name %></a>
                                <% if (hasChildrenMenu) { %>
                                    <ul class="menu">
                                        <% item.menu.forEach(item => { %>
                                            <li class="menu-item">
                                                <a href="<%= item.url %>"><%= item.name %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header__col right fl-center-v">

            <% if (!user) { %>
                <!--                <div class="header__login" data-popup="login">-->
                <!--                    <button class="clear-button-style">Login</button>-->
                <!--                </div>-->
            <% } else { %>


                <div class="header__account">
                    <button class="clear-button-style">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" width="25">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                    </button>
                </div>
            <% } %>

            <div class="header__cart">
                <button class="clear-button-style">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" width="25">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                    </svg>
                </button>
            </div>

                <div class="show-tablet-h">
                    <button class="header__burger clear-button-style ps-relative" data-toggle="mobile-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
        </div>

    </div>

    <div class="show-tablet-h">
        <div class="mobile-menu-wrapper ps-absolute t0 r0 w100">
            <div class="overlay ab-full" data-toggle="mobile-menu"></div>
            <div class="mobile-menu ps-relative z2">
                <ul class="menu">
                    <% menuItems.forEach(item => { %>
                        <% const hasChildrenMenu = item.menu.length > 0; %>
                        <li class="menu-item <%= hasChildrenMenu ? 'has-children' : ''; %>">
                            <a href="<%= item.url %>"><%= item.name %></a>
                            <% if (hasChildrenMenu) { %>
                                <ul class="menu">
                                    <% item.menu.forEach(item => { %>
                                        <li class="menu-item">
                                            <a href="<%= item.url %>"><%= item.name %></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

    <!--    <div data-popup-content="login">-->
    <!--        <form method="post" action="?type=sign-in&method=post">-->

    <!--            <div class="form-fields">-->

    <!--                &lt;!&ndash; email &ndash;&gt;-->
    <!--                <div class="field">-->
    <!--                    <label for="email">Email:</label>-->
    <!--                    <input id="email" type="email" name="email" placeholder="Email" required>-->
    <!--                </div>-->

    <!--                &lt;!&ndash; password &ndash;&gt;-->
    <!--                <div class="field">-->
    <!--                    <label for="password">Password:</label>-->
    <!--                    <input id="password" type="password" name="password" placeholder="Password" required>-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Forgot password &ndash;&gt;-->
    <!--                <div class="field txt_14px">-->
    <!--                    <a href="/register?type=forget-password">Forgot password?</a>-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Button &ndash;&gt;-->
    <!--                <div class="field">-->
    <!--                    <button type="submit" class="btn_primary w100">Sign In</button>-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Sign up &ndash;&gt;-->
    <!--                <div class="field txt_14px ta-center">-->
    <!--                    <span>Don't have a CMS account yet? <a href="/register?type=sign-up">Sign up!</a></span>-->
    <!--                </div>-->

    <!--            </div>-->

    <!--        </form>-->
    <!--    </div>-->

</header>