<%
const formatPrice = (price) => new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(price);

const successOrdersInYear = data.ordersInYear.filter(o => o.status === 'success')
        .map(o => {
            const date = new Date(o.publish);
            const month = date.getMonth() + 1;
            const year = date.getFullYear();

            return {
                month,
                year,
                totalPrice: o.totalPrice
            };
        });

const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth() + 1;

const revenueThisMonth = successOrdersInYear
        .filter(order => order.month === currentMonth && currentYear)
        .reduce((total, order) => total + order.totalPrice, 0);

const revenueThisYear = successOrdersInYear
        .filter(order => order.month <= currentMonth && order.year === currentYear)
        .reduce((total, order) => total + order.totalPrice, 0);

const unsuccessfulOrdersInYear = data.ordersInYear.filter(o => o.status !== 'success');
const numberOfUnsuccessfulOrdersThisYear = unsuccessfulOrdersInYear.filter(order => {
    const orderYear = new Date(order.publish).getFullYear();
    return orderYear === currentYear;
}).length;
%>

<div data-custom-title>
    <span>Dashboard</span>
</div>

<div class="revenue margin-bottom-medium flex-grid-template">
    <div class="revenue__box revenue__month">
        <p class="tt-uppercase">Earnings (monthly)</p>
        <span><%= formatPrice(revenueThisMonth) %></span>
    </div>

    <div class="revenue__box revenue__year">
        <p class="tt-uppercase">Earnings (annual)</p>
        <span><%= formatPrice(revenueThisYear) %></span>
    </div>

    <div class="revenue__box revenue__pending">
        <p class="tt-uppercase">Pending requests</p>
        <span><%= numberOfUnsuccessfulOrdersThisYear %></span>
    </div>
</div>

<div data-area-chart='<%= JSON.stringify(successOrdersInYear) %>'>
    <div class="margin-bottom-small boil-content">
        <h2 class="heading-3">Revenue Chart in <%= currentYear %></h2>
    </div>
    <div data-chart style="height:20rem;">
        <canvas id="myAreaChart"></canvas>
    </div>
</div>