<%
const id = (new Date()).getTime().toString(36) + Math.random().toString(36).slice(2);
const validatedOptions = options || '';
%>

<div data-type="<%= type; %>" data-param="<%= paramName; %>" class="<%= classesName; %>" data-id="<%= id %>"
     data-options="<%= validatedOptions %>">

    <!-- show media popup button -->
    <div data-selected-medias></div>
    <button data-param-value data-load-media type="button" data-custom-toggle="<%= id; %>" class="btn_transparent">+
    </button>

    <% if (description) { %>
        <div class="description"><%= description; %></div>
    <% } %>

    <!-- media popup -->
    <div data-pb-media-popup data-popup data-custom-toggle-content="<%= id %>">
        <div data-popup-overflow>
            <div data-popup-overlay data-custom-toggle="<%= id %>"></div>

            <!-- popup content -->
            <div data-popup-inner>

                <div class="media-popup fl-grid">

                    <!-- media list -->
                    <div class="media-popup__col media-popup__col--left">
                        <div data-custom-title>
                            <span>Media List</span>
                        </div>

                        <div data-media-list class="fl-grid"></div>

                        <button type="button" class="btn_primary" data-save-media data-custom-toggle="<%= id %>">Save
                        </button>
                    </div>

                    <!-- upload new media -->
                    <div class="media-popup__col media-popup__col--right">
                        <form data-media-form action="?post_type=media&method=post&action=add"
                              enctype="multipart/form-data">

                            <div data-custom-title>
                                <span>Upload Media</span>
                            </div>

                            <div class="form-fields">
                                <div class="field vertical-layout">
                                    <label for="name">Name:</label>
                                    <input id="name" type="text" name="name" placeholder="Name" data-media-name>
                                    <div class="description">Optional, we can get the name of the media.</div>
                                </div>

                                <div class="field vertical-layout">
                                    <label for="image">Upload Image:</label>
                                    <input type="file" name="image" accept="image/*" id="image" required data-add-media>
                                </div>

                                <div class="footer">
                                    <button class="btn_transparent" type="submit" data-add-media-button>Add New</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>