<div data-custom-title xmlns="http://www.w3.org/1999/html">
    <span><%= title; %></span>
</div>

<% if (data.length === 0) { %>
    <h2>No Contact</h2>
<% } %>

<div class="contact-list" data-custom-table data-contact-wrapper>

    <div class="contact-list__inner" data-edit-contact-wrapper>
        <div class="contact-list__heading" data-column-wrapper="heading">
            <div class="contact-list--name" data-column="Name">Name</div>
            <div class="contact-list--email" data-column="Email">Email</div>
            <div class="contact-list--content" data-column="Content">Content</div>
            <div class="contact-list--action" data-column="Action">Action</div>
        </div>

        <% data.forEach(contact => { %>

            <div class="contact-list__item" data-column-wrapper="item" data-id="<%= contact._id %>" data-contact-item>

                <div class="contact__item--name fw-bold" data-column="Name" data-name-item>
                    <%= contact.name; %></div>

                <div class="contact__item--email" data-column="Email" data-username-item>
                    <div><%= contact.email %></div>
                </div>

                <div class="contact__item--content "
                     data-column="Content" data-content-item
                     style="font-weight:600;">
                </div>

                <div class="users__item--action fl-center-v" style="gap:.8rem" data-column="Action">

                    <button data-popup="data-contact-edit" data-contact-edit>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z"/>
                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z"/>
                        </svg>

                    </button>

                    <a href="?post_type=<%= contentType; %>&method=post&action=delete&id=<%= contact._id; %>"
                       data-user-remove>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                                  clip-rule="evenodd"/>
                        </svg>

                    </a>
                </div>

            </div>
        <% }); %>

        <!-- pop up content-->
        <form method="post" action="#" data-popup-content="data-contact-edit" data-contact-form
              data-id="<%= data._id; %>">

            <div data-custom-title>
                <span>Contact</span>
            </div>

            <div class="form-fields">

                <div class="field vertical-layout half">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" data-name
                           required placeholder="Name">
                </div>

                <div class="field vertical-layout half">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" data-email required
                           placeholder="Email">
                </div>


                <div class="field vertical-layout">
                    <label for="description">Description</label>
                    <textarea type="text" data-description readonly id="description"></textarea>
                </div>

                <div class="footer">
                    <button class="btn_primary" type="button" data-contact-update-btn>Save</button>
                    <button class="btn_transparent" type="button" data-contact-close-btn
                            data-popup-toggle>Cancel
                    </button>
                </div>

            </div>
        </form>
    </div>

</div>